nav ul{
	font-size: 30px;	
}

body{
	background-color:#26C4EC;
	background-image:url("Images/fond.png");
	background-repeat: repeat;
	background-size: 300%;
}

nav li{
	display:inline-block;
	width: 24%;
	height:5%;
	background-color:#8A4B08 ;
	line-height: 40px;
}

nav li a{
	display: block;
	text-decoration: none;
	text-align: center;
	color: white;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size:40px
}

nav li :hover{
	background-color: #B46B30;
}

p{
	font-size: 30px;
}

#body_index{
	font-size: 30px;
	font-family: Brush Script MT, Brush Script Std, cursive;
}

ul{
	font-size : 20px;
	list-style-type: square;
	
}

#p1{
	text-align: center;
}

#img1{
	width: 500px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#temporaire{
	text-align: center;
}
